@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg);
}

:root {

    /* ******************colors****************** */
   --primary-color:#72A0C1; 
   --primary-light:#89CFF0;
   --body-bg:rgb(233, 238, 246,0.4);
   --grey-color:rgb(128, 128, 128,0.4);
   --grey-color-dark:rgb(128, 128, 128,0.8);
    --secondary-color:rgb(255, 218, 185);
    --secondary-light:rgb(255, 218, 185,0.9);
    --accent-color:#6E0D25;
    --text-heading:#002244;
    --text-primary-color:black;
    --white: #ffffff;
    --shadow-color:rgb(110, 110, 110);
    --text-light:#5f6368;
      --black:#000000;
     --sidebar-color: #f1f3f4;
     --sidebar-hover-color: #feefc3;
     --home-bg:#fafafa;
     /* --body-bg:#FAFAFA; */

    
    /* ************************ spacing************************* */
    --spacing-1x: 1px;
    --spacing-2x: 2px;
    --spacing-3x: 3px;
    --spacing-4x: 4px;
    --spacing-5x: 5px;
    --spacing-6x: 5px;
    --spacing-7x: 7px;
    --spacing-8x: 8px;
    --spacing-10x: 10px;
    --spacing-0-5: 0.5rem;
    --spacing-0-2: 0.2rem;
    --spacing-0-8: 0.8rem;
    --spacing-1: 1rem;
    --spacing-1-2: 1.2rem;
    --spacing-1-3: 1.3rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-2-5: 2.5rem;
    --spacing-3: 3rem;
    --spacing-4: 4rem;
    --spacing-5: 5rem;
    --z-index-2: 2;
    --z-index-3: 3;

}

.bottom-gutter-xs{
    margin-top:10px ;
}

.bottom-gutter-sm{
    margin-bottom:1rem ;
}

.bottom-gutter-md{
    margin-bottom:2rem ;
}
.bottom-gutter-lg{
    margin-bottom:3rem ;
}
.bottom-gutter-xl{
    margin-bottom:5rem ;
}
.top-gutter-xs{
    margin-top:10px ;
}
.top-gutter-sm{
    margin-top:1rem ;
}

.top-gutter-lg{
    margin-top:3rem ;
}
.top-gutter-md{
    margin-top:2rem ;
}

.top-gutter-xl{
    margin-top:5rem ;
}


.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}
.auto-margin{
    margin-left: auto;
}

.flex-container-space{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.mr-5{
    margin-right: 5rem;
}
.mr-3{
    margin-right: 3rem;
}

a {
    text-decoration: none;
}

.heading-1 {
    padding-bottom: var(--spacing-1-5);
    font-size: 3.5rem;
    position: relative;
    color: var(--text-primary-color);
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
.heading-3{
    padding-bottom: var(--spacing-1-3);
    font-size: 2.8rem;
    position: relative;
    color: var(--text-primary-color);
}

hr {
    border: var(--spacing-1x) solid var(--light-color);
}

.center-text{
    text-align: center;
}
.left-text{
    text-align: start;
}
.small-text{
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.grey-text{
    color:var(--light-color)
}


/* media queries  */

@media (max-width:990px) {


    html {
        font-size: 59%;
    }


}

@media (max-width:767px) {

    
}
@media (max-width:594px){
 .header{
        position: fixed;
    }   
    .notesarea .input-form{
        width: 90%;
    }
    .Notes-container .notes_list_grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width:450px) {

    html {
        font-size: 55%;
    }

}