.home{
    background-color: var(--home-bg);
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: space-around;
}
.left-side .home-details{
text-align: center;
display: flex;
height: 100%;
align-items: center;
justify-content: space-between;
padding: var(--spacing-1) var(--spacing-4);

}
.home-details h1{
    color:var(--text-heading);
    font-family: 'AlexBrush', cursive;
}
.home-details p{
    line-height: 2rem;
    color: var(--text-heading);
}
.right-side img{
    width: 100%;
    height: 100%;
}
.home-btn{
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: var(--spacing-5x);
}